{# set statemachine_name     = (objc_prefix or "") + statemachine.name.title() -#}
{% set objc_class            = objc_prefix + statemachine_name -%}
{% set objc_delegate         = objc_class + "Delegate" -%}
{% set objc_state            = objc_class + "State" -%}
{% set objc_event            = objc_class + "Event" -%}
{% set swift_class           = statemachine_name -%}
{% set swift_delegate        = swift_class + ".Delegate" -%}
{% set swift_state           = swift_class + ".State" -%}
{% set swift_event           = swift_class + ".Event" -%}
{% block content %}
{% endblock %}
