{% extends "objc/objc.j2" %}
{% block content %}

// TODO: generated header
#import <Foundation/Foundation.h>


typedef NS_ENUM(NSUInteger, {{ objc_state }}) {
    {%- for state in statemachine.states %}
    {{ objc_state }}{{ state.title() }},
    {%- endfor %}
} NS_SWIFT_NAME({{ swift_state }});


typedef NS_ENUM(NSUInteger, {{ objc_event }}) {
    {%- for event in statemachine.events %}
    {{ objc_event}}{{ event.title() }},
    {%- endfor %}
} NS_SWIFT_NAME({{ swift_event }});

@protocol {{ objc_delegate }};


NS_ASSUME_NONNULL_BEGIN

NS_SWIFT_NAME({{ swift_class }})
@interface {{ objc_class }} : NSObject

@property (readonly) {{ objc_state }} state;

@property (nonatomic, weak, nullable) id<{{ objc_delegate }}> delegate;

- (instancetype)init NS_DESIGNATED_INITIALIZER;
- (instancetype)initWithState:({{ objc_state }})state NS_DESIGNATED_INITIALIZER;

- ({{ objc_state }})fire:({{ objc_event }})event error:(NSError *_Nullable *_Nullable)outError;

@end


NS_SWIFT_NAME({{ swift_delegate }})
@protocol {{ objc_delegate }} <NSObject>

- (void){{ statemachine.name }}StateMachine:({{ objc_class }} *)stateMachine willTransitionToState:({{ objc_state }})state;
- (void){{ statemachine.name }}StateMachine:({{ objc_class }} *)stateMachine didTransitionToState:({{ objc_state }})state;

@end

NS_ASSUME_NONNULL_END
{% endblock %}
