{% extends "objc/objc.j2" %}
{%- block content -%}

#import "{{ objc_class }}.h"


@interface {{ objc_class}} ()
@property (readwrite) {{ objc_state }} state;
@end


@implementation {{ objc_class }}

- (instancetype)init
{
    self = [super init];
    if (self) {
        // TODO: set initial state?
        // _state = 0;
    }
    return self;
}

- (instancetype)initWithState:({{ objc_state }})state
{
    self = [super init];
    if (self) {
        _state = state;
    }
    return self;
}

- ({{ objc_state }})fire:({{ objc_event }})event error:(NSError *_Nullable *_Nullable)outError
{
    {% for transition in statemachine.transitions -%}
    /* {{ transition.event }}: {{ transition.from_state }} -> {{ transition.to_state }} */
    if (event == {{ objc_prefix + statemachine_name }}Event{{ transition.event.title() }} && self.state == {{ objc_prefix + statemachine_name }}State{{ transition.from_state.title() }}) {
        return [self _transitionToState:{{ objc_prefix + statemachine_name}}State{{ transition.to_state.title() }}];
    }
    {% endfor -%}

    if (outError != NULL) {
        // TODO: better error
        *outError = [[NSError alloc] initWithDomain:@"co.mrox" code:1 userInfo:nil];
    }

    return self.state;
}

- ({{ objc_state }})_transitionToState:({{ objc_state }})state
{
    [self.delegate {{ statemachine.name }}StateMachine:self willTransitionToState:state];
    self.state = state;
    [self.delegate {{ statemachine.name}}StateMachine:self didTransitionToState:state];
    return self.state;
}


@end
{% endblock %}
